<div class="modal-header">
	<h2 class="modal-title">{{user.username}}</h2>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.close(user)">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<div class="row justify-content-center">
		<div class="col-12">
			<h3>Entnehmen</h3>
			<div class="d-flex flex-wrap justify-content-center align-items-center">
				<div class="p-2" *ngFor="let product of products$ | async">
					<button class="btn btn-dark btn-lg mx-1 font-weight-bold" type="button" title="One-Click" (click)="takeSingle(product)">
							{{product.name}} <br>
							<span class="h2"><small>{{product.price / 100 | currency:'EUR'}}</small></span>
					</button>
				</div>
				<div class="p-2">
					<button class="btn btn-light btn-lg mx-1 font-weight-bold" type="button" (click)="reloadProducts()">
						⟳
					</button>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-6">
				<h3>Einzahlen</h3>
				<form (submit)="onPay()">
					<div class="form-group">
						<label for="strichliste_pay">Betrag</label>
						<div class="input-group">
							<input type="number" class="form-control text-right" id="strichliste_pay" name="payAmount"
								   [(ngModel)]="payAmount" min="0" max="1000" step="0.01" required>
							<div class="input-group-append">
								<span class="input-group-text">€</span>
							</div>
						</div>
					</div>
					<div class="d-flex flex-row my-2 justify-content-end flex-wrap">
						<button type="button" class="btn btn-light btn-lg m-1" (click)="payAmount = 1">1 €</button>
						<button type="button" class="btn btn-light btn-lg m-1" (click)="payAmount = 2">2 €</button>
						<button type="button" class="btn btn-light btn-lg m-1" (click)="payAmount = 5">5 €</button>
						<button type="button" class="btn btn-light btn-lg m-1" (click)="payAmount = 10">10 €</button>
						<button type="button" class="btn btn-light btn-lg m-1" (click)="payAmount = 20">20 €</button>
						<button type="button" class="btn btn-light btn-lg m-1" (click)="payAmount = 50">50 €</button>
					</div>
					<div class="d-flex flex-row my-2 justify-content-end">
						<button type="submit" class="btn btn-primary btn-lg">Einzahlen</button>
					</div>
				</form>
			</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-secondary" (click)="activeModal.close(user)">Schließen</button>
</div>
