<h1>Premium-Mitgliedschaft</h1>

<p class="alert alert-info">
	Die folgende Seite war Teil des Aprilscherzes im Jahr 2019. Sie bleibt zu Dokumentationszwecken Teil von MyCFHN,
	allerdings nicht mehr über die Seitennavigation erreichbar. Wer möchte, kann gefahrlos den Link "Zur Bestellung"
	klicken.
</p>

<p class="lead">
	Ab April 2019 wird es einen neuen Mitgliedstyp geben: Das Code for Heilbronn Premium-Mitglied. Diese
	Mitgliedschaft bietet folgende Vorteile:
</p>

<div class="container-fluid">
	<div class="row align-items-stretch">
		<div class="col-12 col-lg-4">
			<div class="card w-100 h-100">
				<div class="card-body">
					<h2 class="card-title">Ungedrosseltes Internet</h2>
					<h3 class="card-subtitle text-muted">im Makerspace der Experimenta</h3>
					<p class="card-text">
						Um allen Besuchern der Experimenta eine Internetverbindung zu geben, muss das Internet im
						Makerspace gedrosselt werden (56 KBit/s). Mit der Premium-Mitgliedschaft erhältst du Zugriff auf
						das
						ungedrosselte WLAN.
					</p>
				</div>
				<img src="assets/april-fools-2019/internet-speed.jpg" class="card-img-bottom">
			</div>
		</div>
		<div class="col-12 col-lg-4">
			<div class="card h-100">
				<div class="card-body">
					<h2 class="card-title">Getränke- und Pizzaflatrate</h2>
					<p class="card-text">
						Unbegrenzt Getränke und Pizza? Das klingt nach einem tollen Coding-Abend! Hol dir die Flatrate
						mit der Premium-Mitgliedschaft.
					</p>
				</div>
				<img src="assets/april-fools-2019/pizza.jpeg" class="card-img-bottom">
			</div>
		</div>
		<div class="col-12 col-lg-4">
			<div class="card h-100">
				<div class="card-body">
					<h2 class="card-title">BUGA Jahreskarte</h2>
					<p class="card-text">
						Damit du unseren Container auf der BUGA besuchen kannst, bekommst du mit der
						Premium-Mitgliedschaft eine Jahreskarte für die BUGA.
					</p>
				</div>
				<img src="assets/april-fools-2019/buga.jpg" class="card-img-bottom">
			</div>
		</div>
	</div>
</div>

<div class="jumbotron my-4 text-center">
	<h1 class="display-4">Jetzt dazubuchen</h1>
	<h2 class="display-3">42,00 € pro Monat</h2>
	<a class="btn btn-primary btn-lg text-white my-4" routerLink="fool">Zur Bestellung</a>
</div>
