<h1>Strichliste</h1>

<div class="alert alert-danger" *ngIf="error">{{error.message}}</div>

<div class="row">
	<div class="col-12 col-md-6 col-lg-6 col-xl-4" *ngFor="let user of users">
		<div class="card my-1">
			<div class="card-body d-flex flex-row align-items-start" (click)="openModal(user)">
				<img [src]="'https://memberdata.my.cfhn.it/user/'+ user.username +'/picture'" width="100"
					 class="rounded mx-2 flex-shrink-0" style="width: 100px">
				<div class="text-center flex-grow-1">
					<h2 class="card-title">{{user.username}} <span *ngIf="!user.cfhn"
																   class="badge badge-info">Gast</span></h2>
					<div class="h3 text-muted">{{user.outstandingBalance / 100 * -1 | currency:'EUR'}}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-6 col-lg-6 col-xl-4">
		<div class="card my-1">
			<div class="card-body text-center" (click)="openGuestModal()">
				<span class="display-2 text-muted">+</span>
			</div>
		</div>
	</div>
</div>
